<div class="modal-display" hidden>
  <div class="modal delete-modal">
    <p>O arquivo será deleteado para sempre (muito tempo)!</p>
    <p>Deseja mesmo deletar?</p>
    <div class="del-actions">
      <button class="btn del-cancel">Cancelar</button>
      <button class="btn del-confirm">Sim, deletar</button>
    </div>
  </div>
</div>