<div class="modal-display" hidden>
  <div class="modal create-title">
    <h2 id="title-form-title">Adicionar obra</h2>
    <form action="/titles/create" method="post" class="form" id="title-form">
      <label for="title-name">Nome da obra</label>
      <input type="text" name="name" id="title-name" class="input" autocomplete="off" required placeholder="Digite o nome da obra">

      <label for="description">Sinopse</label>
      <textarea name="description" id="description" class="input textarea" placeholder="Escreva a sinopse"></textarea>

      <div class="btns single-btn">
        <button type="submit" class="btn submit-btn">Enviar</button>
      </div>
    </form>
  </div>
</div>