<div class="header">
  <a href="/" class="home-link" title="Página principal">
    <img src="/img/logo.png" alt="Starry Night Legends" height="96px">
  </a>
  <div class="dark-mode-btn" title="Alterar tema">
    <ion-icon class="dmb-icon" name="moon-outline"></ion-icon>
  </div>
</div>
<% if (user) { %>
<div class="user-links">
  <a href="/admin">Admin page</a>
  <a href="/admin/logout">Logout</a>
</div>
<% } %>