<%- include('includes/head') %>
<style>
  h2 {
    text-align: center;
  }

  #admin-form {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
</style>
<title>Autenticação de administrador</title>
</body>
<%- include('includes/header') %>
<section class="container">
  <div class="content">
    <h2>Autenticação necessária!</h2>
    <form action="/admin/auth" method="post" class="form" id="admin-form">
      <input type="password" name="password" class="input" id="password" required placeholder="Insira a senha">
      <button type="submit" class="btn submit-btn">Entrar</button>
    </form>
  </div>
</section>
<%- include('includes/footer') %>