.text {
  margin-bottom: 2em;
}

.text h2 {
  font-family: 'Courier Prime', monospace;
  overflow: hidden;
  border-right: .15em solid var(--main-text);
  white-space: nowrap;
  letter-spacing: .05em;
  animation: typing 1.5s steps(10, end),
    blink-caret .75s step-end infinite;
  width: 6.9em;
}

.text-link:hover {
  color: var(--main-color);
}