.titles {
    display: flex;
    gap: 1em;
    width: fit-content;
    margin: 0 auto;
}

.home-titles {
    flex-wrap: wrap;
}

.title {
    position: relative;
}

/* | TITLE NAME | */

.title-name {
    position: absolute;
    border-radius: 1em;
    box-shadow: 0 0 .2em var(--btn-shadow);
    width: 25em;
    margin-bottom: 1em;
}

.title-name summary {
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
    border-radius: 1em;
    padding: .5em;
}

.name-arrow,
.desc-arrow {
    transition: rotate .2s;
}

.title-name[open] .name-arrow,
.title-desc[open] .desc-arrow {
    rotate: 90deg;
}

/* | TITLE CONTENT | */

.title-content {
    border-radius: 1em;
    box-shadow: 0 0 .2em var(--btn-shadow);
    width: 25em;
    max-height: 2.2em;
    overflow: hidden;
    padding: 1.7em .5em .5em;
    transition: max-height .5s;
}

.title-name span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-name[open]+.title-content {
    max-height: 15em;
}

/* TITLE SYNOPSIS */

.title-desc-content {
    position: relative;
    border-bottom: 2px solid var(--main-text);
    margin-top: 1em;
}

.title-desc {
    cursor: pointer;
    position: absolute;
    display: flex;
    width: 100%;
}

.title-desc summary {
    display: flex;
    align-items: center;
    list-style: none;
}

.title-desc summary:hover {
    text-decoration: underline;
}

.title-desc-text {
    max-height: 1em;
    padding-top: 1.3em;
    transition: max-height .5s;
}

.title-desc-text p {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
}

.title-desc[open]+.title-desc-text {
    max-height: 5em;
    margin-bottom: .3em;
    transition: max-height .5s;
}

.title-desc[open]~.title-desc-text>p {
    max-height: 3.7em;
    overflow: auto;
    transition: max-height .5s;
}

.title-desc[open]~.title-desc-text.unavailable>p {
    overflow: hidden;
}

/* CHAPTERS */

.chapters {
    max-height: 10em;
    overflow-y: auto;
    margin-top: .5em;
}

.chapter {
    list-style: none;
}

.chapter-title a {
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    font-size: 1.7rem;
    color: var(--text-lighter);
}

/* ADMIN */

#create-title-btn,
#create-chapter-btn {
    position: relative;
    font-size: 3.5rem;
    width: fit-content;
    padding: 0;
    height: 1em;
}

#create-chapter-btn {
    font-size: 3rem;
    margin-top: .3em;
}

#ctb-cover,
#ccb-cover {
    position: absolute;
    top: -1.25em;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    top: 0;
}

.admin-chapter {
    display: flex;
    justify-content: space-between;
}

.title-actions,
.chap-actions {
    display: flex;
    align-self: center;
    gap: .6em;
}

.title-actions>.name-arrow {
    align-self: center;
}

.admin-btn {
    display: flex;
    border-radius: .5em;
    padding: .2em;
}

.edit-title,
.edit-chapter {
    position: relative;
}

.etb-cover,
.ecb-cover {
    position: absolute;
    height: 1.4em;
    width: 1.4em;
    top: 0;
    left: 0;
    border: .5em;
}

.delete-title,
.delete-chapter {
    background-color: var(--btn-danger);
}